@font-face {
  font-family: 'DancingScript';
  src: url(fonts/DancingScript-Regular.ttf);
}
body {
  font-family: 'DancingScript';
  background-color:  #02010a;
  max-width: 1300px;
  margin-left: 5%;
  margin-right: 5%;
}
header {
  border-radius: 10px 10px 0px 0px;
  background-color: #5b7989;
  color: white;
  width: 100%;
}
h1 {
  margin: 10px;
  text-shadow: 2px 2px 0px #02010a;
  width: 100%;
  display: inline-block;
  order: 1;
}
.menu_principal {
  word-spacing: 30px;
  font-size: 20px;
  margin: 10px;
  width: 77%;
  display: inline-block;
  text-align: right;
  order: 2;
}
.menu_principal > div {
  display: inline-block;
  flex-flow: wrap;
}
#Titulo {
  display: flex;
  flex-flow: wrap;
}

#imagen_central {
  border: 0px;
  padding: 10px;
  background-color: #82c3a6;
}
#imagen_central img {
  max-width: 800px;
}
#imagenes_secundarias img {
  max-width: 400px;
}

#imagenes_secundarias {
  background-color: #d5c75f;
}
footer {
  background-color: #C6d5c5;
}
