@font-face {
  font-family: 'DancingScript';
  src: url(fonts/DancingScript-Regular.ttf);
}
body {
  font-family: 'DancingScript';
  background-color:  #02010a;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}
header {
  border-radius: 10px 10px 0px 0px;
  background-color: #5b7989;
  color: white;
  display: flex;
  flex-flow: row wrap;
}

#Titulo {
  max-height: 100px;
  width: 450px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#menu_principal {
  max-height: 100px;
  width: 450px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.opciones {
  display: flex;
  flex-flow: row wrap;
}
.Inicio {
  display: block;
  max-height: 100px;
  max-width: 100%;
  flex-grow: 1;
}
.Paisajes {
  display: block;
  max-height: 100px;
  max-width: 100%;
  flex-grow: 1;
}
.retratos {
  display: block;
  max-height: 100px;
  max-width: 100%;
  flex-grow: 1;
}
h1 {
  margin: 10px;
  text-shadow: 2px 2px 0px #02010a;
}
#menu_principal > div{
  font-size: 20px;
  margin: 10px;
  text-align: center;
}
#menu_principal div a {
  color: white;
}
#menu_principal div a:hover , .menu_principal div a:active {
  color: white;
  text-decoration: none!important;
}
#imagen_central {
  border: 0px;
  padding: 10px;
  background-color: #82c3a6;
}
#imagen_central img {
  max-width: 700px;
}
#contenido img {
  box-shadow: 2px 2px 3px #02010a;
}
.imagen1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.imagen2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.imagen3 {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#imagenes_secundarias {
  border: 0px;
  background-color: #d5c75f;
  display: flex;
  flex-flow: row wrap;
}
#imagenes_secundarias img {
  width: 350px;
}
#imagen_izq {
  flex-grow: 1;
}
#imagen_der {
  flex-grow: 1;
}
figcaption {
  text-align: center;
  text-decoration: underline;

}
footer {
  border: 0px;
  border-radius: 0px 0px 10px 10px;
  padding: 10px;
  background-color: #C6d5c5;
}
#Pie_de_pagina {
display: flex;
flex-flow: row wrap;
}
.Contacto {
  display: block;
  margin: auto;
  width: 215px;
  word-wrap: break-word;
}
.Terminos {
  display: block;
  margin: auto;
  width: 215px;
  word-wrap: break-word;
}
.Redes_Sociales {
  display: block;
  margin: auto;
  width: 215px;
  word-wrap: break-word;
}
.Derechos {
  display: block;
  margin: auto;
  width: 215px;
  word-wrap: break-word;
}
@media all and (max-width: 899px) {
  .contenido {
    width: 100%;
  }
  .titulo_principal {
  width: 100%;
  text-align: center;
  font-size: 1.5em;
  }
  #imagen_central img {
    width: 100%;
  }
  #imagenes_secundarias img {
    width: 100%
  }
  #Pie_de_pagina div {
    width: 100%
  }
}
