@font-face {
  font-family: 'DancingScript';
  src: url(fonts/DancingScript-Regular.ttf);
}
body {
  font-family: 'DancingScript';
  background-color:  #02010a;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}
header {
  border-radius: 10px 10px 0px 0px;
  background-color: #5b7989;
  color: white;
  display: flex;
  flex-flow: row wrap;
}

#Titulo {
  max-height: 100px;
  width: 450px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#menu_principal {
  max-height: 100px;
  width: 450px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.opciones {
  display: flex;
  flex-flow: row wrap;
}
.Inicio {
  display: block;
  max-height: 100px;
  max-width: 100%;
  flex-grow: 1;
}
.Paisajes {
  display: block;
  max-height: 100px;
  max-width: 100%;
  flex-grow: 1;
}
.retratos {
  display: block;
  max-height: 100px;
  max-width: 100%;
  flex-grow: 1;
}
h1 {
  margin: 10px;
  text-shadow: 2px 2px 0px #02010a;
}
#menu_principal > div{
  font-size: 20px;
  margin: 10px;
  text-align: center;
}
#menu_principal div a {
  color: white;
}
#menu_principal div a:hover, #menu_principal div a:active, #menu_principal div a:active a:link, #menu_principal div a:visited {
  text-decoration: none;
}
#imagen_central {
  border: 0px;
  padding: 10px;
  background-color: #82c3a6;
}
#imagen_central img {
  width: 500px;
}
#contenido img {
  box-shadow: 2px 2px 3px #02010a;
}
.imagen1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.imagen2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.imagen3 {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#imagenes_secundarias {
  border: 0px;
  background-color: #d5c75f;
  display: flex;
  flex-flow: row wrap;
}
#imagenes_secundarias img {
  width: 350px;
}
#imagen_izq {
  flex-grow: 1;
}
#imagen_der {
  flex-grow: 1;
}
figcaption {
  text-align: center;
  text-decoration: underline;
}
#galeria {
  background-color: #d5c75f;
  border: 0px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-flow: row wrap;
}
.fotografia1 img {
  display: block;
  width: 200px;
  -webkit-filter blur (10px);
  filter: blur(10px);
}
.fotografia2 img {
  display: block;
  width: 200px;
  -webkit-filter grayscale (100%);
  filter: grayscale(100%);
}
.fotografia3 img {
  display: block;
  width: 200px;
  -webkit-filter sepia(90%);
  filter: sepia(90%);
}
.fotografia4 img {
  display: block;
  width: 200px;
  -webkit-filter grayscale (100%);
  filter: grayscale(100%);
}
.fotografia5 img {
  display: block;
  width: 200px;
}
.fotografia6 img {
  display: block;
  width: 200px;
  -webkit-filter grayscale (100%);
  filter: grayscale(100%);
}
footer {
  border: 0px;
  border-radius: 0px 0px 10px 10px;
  padding: 10px;
  background-color: #C6d5c5;
}
#Pie_de_pagina {
display: flex;
flex-flow: row wrap;
}
.Contacto {
  display: block;
  margin: auto;
  width: 215px;
  word-wrap: break-word;
}
.Terminos {
  display: block;
  margin: auto;
  width: 215px;
  word-wrap: break-word;
}
.Redes_Sociales {
  display: block;
  margin: auto;
  width: 215px;
  word-wrap: break-word;
}
.Derechos {
  display: block;
  margin: auto;
  width: 215px;
  word-wrap: break-word;
}
@media all and (max-width: 899px) {
  .contenido {
    width: 100%;
  }
  .titulo_principal {
  width: 100%;
  text-align: center;
  font-size: 1.5em;
  }
  #imagen_central img {
    width: 100%;
  }
  #imagenes_secundarias img {
    width: 100%;
  }
  .fotografia1 img {
    width: 100%;

  }
  .fotografia2 img {
    width: 100%;

  }
  .fotografia3 img {
    width: 100%;
  }
  .fotografia4 img {
    width: 100%;
  }
  .fotografia5 img {
    width: 100%;
  }
  .fotografia6 img {
    width: 100%;
  }
  #Pie_de_pagina div {
    width: 100%
  }
}
#imagen_izq img {
  transition-duration: 1s;
}
#imagen_izq img:hover {
  transform: rotateZ(10deg);
}
#imagen_der img {
  transition-duration: 1s;
}
#imagen_der img:hover {
  transform: translate(5px, -20px);
}
header {
  animation: Slidein 1.5s;
}
@-webkit-keyframes Slidein{
0% {
  margin-top: 150%;
}
60% {
  margin-top: -5%;
}
100% {
  margin-top: 0%;
}
}
