@font-face {
  font-family: 'DancingScript';
  src: url(fonts/DancingScript-Regular.ttf);
}
body {
  font-family: 'DancingScript';
  background-color:  #02010a;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}
header {
  border-radius: 10px 10px 0px 0px;
  background-color: #5b7989;
  color: white;
  display: flex;
  flex-flow: row wrap;
}
<<<<<<< HEAD
.contenido {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}
.contenido > div {
  box-sizing: border-box;
  padding: 20px;
  min-width: 300px;
}
=======
>>>>>>> parent of eb564c1... V2.5
#Titulo {
  flex-grow: 1;
}
#menu_principal {
  flex-grow: 1;
}
h1 {
    margin: 10px;
  text-shadow: 2px 2px 0px #02010a;
}
#menu_principal > div{
    font-size: 20px;
  margin: 10px;
  text-align: right;
  order: 2;
}
.opciones {
  display: flex;
  flex-flow: row wrap;
}
.Inicio {
  flex-grow: 1;
}
.Paisajes {
  flex-grow: 1;
}
.retratos {
  flex-grow: 1;
}
#menu_principal div a {
  color: white;
}
#menu_principal div a:hover , .menu_principal div a:active {
  color: white;
  text-decoration: none!important;
}
#imagen_central {
  border: 0px;
  padding: 10px;
  background-color: #82c3a6;
  order: 3;
}
#imagen_central img {
  max-width: 800px;
}
#contenido img {
  box-shadow: 2px 2px 3px #02010a;
}
.imagen1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%
}
.imagen2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%
}
.imagen3 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%
}
#imagenes_secundarias {
  border: 0px;
  background-color: #d5c75f;
  display: flex;
  flex-flow: row wrap;
}
#imagenes_secundarias img {
  max-width: 350px;
}
#imagen_izq {
  flex-grow: 1;
}
#imagen_der {
  flex-grow: 1;
}
figcaption {
  text-align: center;
  text-decoration: underline;

}
footer {
  border: 0px;
  border-radius: 0px 0px 10px 10px;
  padding: 10px;
  background-color: #C6d5c5;
}

#Contacto > div {
  background-color: blue;
  box-sizing: border-box;
  display: block;
  max-width: 225px;
  min-width: 100px;
  margin: auto;
}
#Columna_Terminos > div {
  box-sizing: border-box;
  display: block;
  min-width: 100px;
  max-width: 225px;
  margin: auto;
}
#Columna_Redes > div {
  box-sizing: border-box;
  display: block;
  min-width: 100px;
  max-width: 225px;
  margin: auto;
}
#Columna_Derechos > div {
  box-sizing: border-box;
  display: block;
  min-width: 100px;
  max-width: 225px;
  margin: auto;
}
@media all (max-width: 899px) and (min-width: 480px) {
  .contenido {
    width: 100%;
  }

}
